.allUsersDesign{
    min-height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allUsersContainer{
    display: flex;
    flex-direction: column;
}

.eachUser{
    background-color:lightgrey;
    border-radius: 1em;
    padding: 0.5em;
    padding-top: 1em ;
    margin: 1em;
}

.deleted{
    border: 0.3em solid crimson
}

.userLabel{
    background-color: #6c6c6c;
    color: white;
    text-align: start;
    text-align: center;
    border-radius: 0.5em;
    margin-bottom: 0.2em;
}

.userInfo{
    background-color: rgb(235, 235, 235);
    margin-bottom: 0.5em;
    text-align: start;
    padding-left: 1em;
    border-radius: 0.5em;
}

.settingsButton{
    border-radius: 0.5em;
    padding: 0.2em;
    background-color:#3d4676;
    font-size: 1.2em;
    text-align: center;
    color:white;
    cursor: pointer;
}
    
.settingsButton:hover {
    background-color: #838bb7;
}

.redButton{
    border-radius: 0.5em;
    padding: 0.1em;
    background-color:darkred;
    font-size: 1.2em;
    text-align: center;
    color:white;
    cursor: pointer;
}

.redButton:hover{
    background-color:crimson;
}