.profileDesign{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userProfile{
    width:90vw;
    height: auto;
    background-color: #bee199b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1em solid black;
    border-radius: 3em;
    padding: 1.5em;
    padding-top: 2.5em;
}

.profileRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileLabel{
    margin-left: 1em;
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

.profileData{
    background-color: #ffffff7e;
    margin-bottom: 0.5em;
    text-indent: 1em;
    padding: 0.4em;
    border-radius: 0.5em;
}

@media (min-width: 1025px) {

    .userProfile{
        width:50vw;
        padding: 4em;
    }
}