
.userProfile{
    background-color: #FFC466;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    padding: 1em;
    padding-top: 2em;
}

.profileRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileLabel{
    text-indent: 1em;
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

.profileData{
    background-color: #ffffff7e;
    margin-bottom: 0.5em;
    text-indent: 1em;
    padding: 0.4em;
    border-radius: 1em;
}

.redBackground{
    background-color: crimson;
    padding-left: 1em;
    padding-right: 1em;
}
