.buttonDesign {
    border-radius: 2em;
    padding: 0.3em;
    background-color: #557153;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color:white;
    cursor: pointer;
  }

  .buttonDesign:hover {
    background-color: rgb(52, 80, 142);
  }
