.cardDesign{
    width: 48vw;
    min-height: 68vh;
    text-align: center;
    margin: 0.2em;
    border:white;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8em;
}

.imageCard{
    height: 40vh;
    width: 48vw;
}

.bottomCard{
    height: 12vh;
}

.plantIcon{
    width: auto;
    height: 4vh;
    margin-right: 0.4em;
    margin-left: 0.4em;
}

@media (min-width: 768px) {

    .cardDesign{
        width: 17vw;
        min-height: 60vh;
        text-align: center;
        margin: 1.5em;
        font-size: 1em;
    }
    .imageCard{
        width: 17vw;
        height: 42vh;
    }
    .bottomCard{
        height: auto;
    }
    .plantIcon{
        width: auto;
        height: 3vh;
        margin-right: 0.6em;
        margin-left: 0.4em;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .cardDesign{
        width: 30vw;
        min-height: 45vh;
        text-align: center;
        margin: 1.5em;
        font-size: 1em;
    }
    .imageCard{
        width: 30vw;
        height: 35vh;
    }
}