.cardDesign{
    width: 48vw;
    min-height: 75vh;
    text-align: center;
    margin: 0.2em;
    border:white;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

.imageCard{
    height: 40vh;
    width: 48vw;
}

.bottomCard{
    height: 22vh;
}

.plantIcon{
    width: auto;
    height: 4vh;
    margin-right: 0.4em;
    margin-left: 0.4em;
}

@media (min-width: 1025px) {

    .cardDesign{
        width: 17vw;
        min-height: 60vh;
        text-align: center;
        margin: 1.5em;
    }
    .imageCard{
        width: 17vw;
        height: 40vh;
    }
    .bottomCard{
        height: auto;
    }
    .plantIcon{
        width: auto;
        height: 3vh;
        margin-right: 0.6em;
        margin-left: 0.4em;
    }
    

}