.headerDesign{
    width: 100vw;
    background-color: rgb(247, 250, 232);
}

.logo{
    height: 8vh;
    width: auto;
}

.headerLinks{
    color: #61764B;
    font-size: large;
    font-weight: bold;
}
