.myPlantsDesign{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPlantsContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.containerLeft{
    height: auto;
    width: 40vw;
}

.containerRigth{
    height: auto;
    width: 60vw;
}

.myPlantsRow{
    height: auto;
    width: 50vw;
    background-color: #8E5AFF;
    border-radius: 2em;
    padding: 0.5em;
    margin:1.5em;
    display: flex;
    flex-direction: column;
}

.rowTitle{
    text-indent: 2em;
    font-weight: bold;
    font-size: 1.5em;
}

.eachMyPlant{
    height: 5vh;
    background-color: white;
    margin: 1em;
    border-radius: 1em;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.wateringcanIcon{
    width: 2.5vw;
    height: auto;
}




.weatherapp{
    width: 30vw;
    height: 20vh;
    background-color: blue;
    margin:2em;
}

.profile{
    width: 25vw;
    height: 50vh;
    background-color: yellow;
    margin:2em;
}