.myPlantsDesign{
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myPlantsContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.containerLeft .containerRight{
    height: auto;
    width: 100vw;
}

.myPlantsRow{
    height: auto;
    width: 90vw;
    background-color: #a9e296;
    border-radius: 2em;
    padding: 0.5em;
    margin-bottom:2em;
    display: flex;
    flex-direction: column;
}

.rowTitle{
    text-indent: 2em;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 0.5em;
}

.eachMyPlant{
    height: 12vh;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.plantName{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wateringcanIcon{
    width: 14vw;
    height: auto;
}


.weatherapp{
    width: 80vw;
    height: 20vh;
    background-color: blue;
    margin:1em;
}

.profile{
    width: 90vw;
    height: auto;
    margin:1em;
    margin-bottom: 2em;
}


@media (min-width: 1025px) {

    .myPlantsDesign{
        flex-direction: row;
    }
    .containerLeft{
        height: auto;
        width: 35vw;
    }
    .containerRight{
        height: auto;
        width: 65vw;
    }
    .myPlantsRow{
        width: 55vw;
    }
    .eachMyPlant{
        height: 8vh;
        margin: 1em;
    }
    .plantName{
        flex-direction: row;
    }
    .wateringcanIcon{
        width: 3.5vw;
        height: auto;
    }
    .weatherapp{
        width: 30vw;
        height: 20vh;
        background-color: blue;
        margin:1em;
    }
    .profile{
        width: 25vw;
        height: auto;
        margin:1em;
        margin-bottom: 2em;
    }
}
