.detailPlantDesign{
    min-height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plantCard{
    font-size: 1.2em;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    background-color: #bee199b5;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.cardLeft {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cardRight{
    height: 70vh;
    width: 100vw;
}

.colLeft{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}

.plantInfo{
   font-weight: bold;
   text-indent: 1.5em;
}

@media (min-width: 1025px) {

    .plantCard{
        height: 80vh;
        width: 60vw;
        flex-direction: row;
        border-radius: 1em;
    }
    .cardLeft {
        height: 80vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardRight{
        height: 80vh;
        width: 30vw;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    .colLeft{
        margin-top: 1em;
        margin-bottom: 0em;
    }
    .plantInfo{
        text-indent: 0.6em;
    }
}